<h1>Pets Table</h1>

<table class="pet-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    <% @pets.each do |p| %>
      <tr>
        <td><%= link_to p.name, pet_path(p) %></td>
        <td><%= link_to 'Edit', edit_pet_path(p), class: "btn edit-btn" %></td>
        <td><%= button_to 'Remove', pet_path(p), method: :delete, class: "btn delete-btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="actions">
  <%= link_to 'New Pet', new_pet_path, class: "btn" %>
</div>
